name: app deployment pipeline

on:
  push:
    branches: [xx] # change to main or desidered branch
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod
      app_version:
        description: 'App version to deploy (e.g., v1.0.0)'
        required: true
        default: 'v1.0.0'
        type: string

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy images to ${{ github.event.inputs.environment }} environment
    uses: ./.github/workflows/deploy_app.yml
    secrets: inherit
    with:
      environment: ${{ github.event.inputs.environment }}
      app_version: ${{ github.event.inputs.app_version }}
