name: Deploy Infrastructure Steps
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  deploy:
    environment: ${{ inputs.environment }} 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          CONFIG_FILE=".github/workflows/env_vars/${{ inputs.environment }}/env_vars.json"
          echo "Loading environment variables from $CONFIG_FILE"
          if [ ! -f "$CONFIG_FILE" ]; then
            echo "âŒ Config file not found: $CONFIG_FILE"
            exit 1
          fi

          cat $CONFIG_FILE | jq -r 'to_entries | .[] | "echo \(.key)=\(.value) >> $GITHUB_ENV"' | bash

      - name: Set up AWS CLI with OIDC Role
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform-infrastructure
        run: terraform init \
          -backend-config="bucket=${TF_BACKEND_BUCKET}" \
          -backend-config="key=${TF_BACKEND_KEY}" \
          -backend-config="region=${AWS_REGION}" \
          -backend-config="dynamodb_table=${TF_DYNAMODB_TABLE}"

      - name: Terraform Plan
        working-directory: terraform-infrastructure
        run: terraform plan -var="region=${AWS_REGION}" -var="environment=${{ inputs.environment }}" -var="project_name=${TF_PROJECT_NAME}"

      - name: Terraform Apply
        working-directory: terraform-infrastructure
        run: terraform apply -auto-approve -var="region=${AWS_REGION}" -var="environment=${{ inputs.environment }}" -var="project_name=${TF_PROJECT_NAME}"

      - name: Get Terraform Outputs
        uses: actions/upload-artifact@v4
        with:
          name: terraform-outputs-${{ inputs.environment }}
          path: terraform-infrastructure/outputs.json
          retention-days: 1
