name: Build and Deploy App to ECS steps
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      app_version:
        required: true
        type: string

jobs:
  build-and-deploy:
    environment: ${{ inputs.environment }} 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          chmod +rwx ./.github/scripts/set_env_vars.sh
          ./.github/scripts/set_env_vars.sh ${{ inputs.environment }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Backend image
        run: |
          BACKEND_TAG=${{ inputs.app_version }}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          ECR_REPO_BACKEND_NAME=${{ env.ECR_REPO_BACKEND_NAME }}

          # Arguments
          # APP_VERSION="$1"
          # ECR_REPO="$2"
          # REGISTRY="$3"
          # APP_PATH="$4"
          chmod +rwx ./.github/scripts/build_push_image_to_ecr.sh
          ./.github/scripts/build_push_image_to_ecr.sh \
            $BACKEND_TAG \
            $ECR_REPO_BACKEND_NAME \
            $REGISTRY app/backend

      - name: Build and push Frontend image
        run: |
          FRONTEND_TAG=${{ inputs.app_version }}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          ECR_REPO_FRONTEND_NAME=${{ env.ECR_REPO_FRONTEND_NAME }}

          # Arguments
          # APP_VERSION="$1"
          # ECR_REPO="$2"
          # REGISTRY="$3"
          # APP_PATH="$4"
          chmod +rwx ./.github/scripts/build_push_image_to_ecr.sh
          ./.github/scripts/build_push_image_to_ecr.sh \
            $FRONTEND_TAG \
            $ECR_REPO_FRONTEND_NAME \
            $REGISTRY app/frontend

      - name: Deploy Backend to ECS
        run: |
          chmod +rwx ./.github/scripts/update_ecs_service.sh
          ./.github/scripts/update_ecs_service.sh \
            "${ECS_SERVICE_BACKEND_NAME}" \
            "${ECS_CLUSTER_NAME}" \
            "${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_BACKEND_NAME}:${{ inputs.app_version }}"

      - name: Deploy Frontend to ECS
        run: |
          # Script is already chmodded from previous step
          ./.github/scripts/update_ecs_service.sh \
            "${ECS_SERVICE_FRONTEND_NAME}" \
            "${ECS_CLUSTER_NAME}" \
            "${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_FRONTEND_NAME}:${{ inputs.app_version }}"
