name: Build and Deploy App to ECS steps
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      app_version:
        required: true
        type: string

jobs:
  build-and-deploy:
    environment: ${{ inputs.environment }} 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          chmod +rwx ./.github/scripts/set_env_vars.sh
          ./.github/scripts/set_env_vars.sh ${{ inputs.environment }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Backend image
        run: |
          BACKEND_TAG=${{ inputs.app_version }}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          ECR_REPO_BACKEND=${{ env.ECR_REPO_BACKEND }}

          # Arguments
          # APP_VERSION="$1"
          # ECR_REPO="$2"
          # REGISTRY="$3"
          # APP_PATH="$4"
          # IMAGE_URI="$5"
          chmod +rwx ./.github/scripts/build_push_image_to_ecr.sh
          ./.github/scripts/build_push_image_to_ecr.sh $BACKEND_TAG $ECR_REPO_BACKEND $REGISTRY app/backend BACKEND_IMAGE

      - name: Build and push Frontend image
        run: |
          FRONTEND_TAG=${{ inputs.app_version }}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          ECR_REPO_FRONTEND=${{ env.ECR_REPO_FRONTEND }}

          # Arguments
          # APP_VERSION="$1"
          # ECR_REPO="$2"
          # REGISTRY="$3"
          # APP_PATH="$4"
          # IMAGE_URI="$5"
          chmod +rwx ./.github/scripts/build_push_image_to_ecr.sh
          ./.github/scripts/build_push_image_to_ecr.sh $FRONTEND_TAG $ECR_REPO_FRONTEND $REGISTRY app/frontend FRONTEND_IMAGE

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform-ecs-image-update
        run: |
          terraform init \
            -backend-config="bucket=${TF_BACKEND_BUCKET}" \
            -backend-config="key=${TF_BACKEND_KEY}" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="dynamodb_table=${TF_DYNAMODB_TABLE}"

      - name: Terraform Plan
        working-directory: terraform-ecs-image-update
        run: |
          terraform plan \
            -var="region=${AWS_REGION}" \
            -var="environment=${{ inputs.environment }}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="backend_image_uri=${BACKEND_IMAGE}" \
            -var="frontend_image_uri=${FRONTEND_IMAGE}" \
            -var="service_backend_name=${ECS_SERVICE_BACKEND_NAME}" \
            -var="service_frontend_name=${ECS_SERVICE_FRONTEND_NAME}" \
            -var="ecs_cluster_name=${ECS_CLUSTER_NAME}"

      - name: Terraform Apply
        working-directory: terraform-ecs-image-update
        run: |
          terraform apply -auto-approve \
            -var="region=${AWS_REGION}" \
            -var="environment=${{ inputs.environment }}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="backend_image_uri=${BACKEND_IMAGE}" \
            -var="frontend_image_uri=${FRONTEND_IMAGE}" \
            -var="service_backend_name=${ECS_SERVICE_BACKEND_NAME}" \
            -var="service_frontend_name=${ECS_SERVICE_FRONTEND_NAME}" \
            -var="ecs_cluster_name=${ECS_CLUSTER_NAME}"

      - name: Get Terraform Outputs
        uses: actions/upload-artifact@v4
        with:
          name: terraform-outputs-${{ inputs.environment }}
          path: terraform-ecs-image-update/outputs.json
          retention-days: 1
