name: Build and Deploy to ECS
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  build-and-deploy:
    environment: ${{ inputs.environment }} 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          CONFIG_FILE=".github/workflows/env_vars/${{ inputs.environment }}/env_vars.json"
          echo "Loading environment variables from $CONFIG_FILE"
          if [ ! -f "$CONFIG_FILE" ]; then
            echo "âŒ Config file not found: $CONFIG_FILE"
            exit 1
          fi

          cat $CONFIG_FILE | jq -r 'to_entries | .[] | "echo \(.key)=\(.value) >> $GITHUB_ENV"' | bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Backend image
        run: |
          BACKEND_TAG=${{ github.sha }}
          docker build -t $ECR_REPO_BACKEND:$BACKEND_TAG app/backend
          docker tag $ECR_REPO_BACKEND:$BACKEND_TAG ${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_BACKEND}:$BACKEND_TAG
          docker push ${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_BACKEND}:$BACKEND_TAG
          echo "BACKEND_IMAGE=${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_BACKEND}:$BACKEND_TAG" >> $GITHUB_ENV

      - name: Build and push Frontend image
        run: |
          FRONTEND_TAG=${{ github.sha }}
          docker build -t $ECR_REPO_FRONTEND:$FRONTEND_TAG app/frontend
          docker tag $ECR_REPO_FRONTEND:$FRONTEND_TAG ${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_FRONTEND}:$FRONTEND_TAG
          docker push ${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_FRONTEND}:$FRONTEND_TAG
          echo "FRONTEND_IMAGE=${{ steps.login-ecr.outputs.registry }}/${ECR_REPO_FRONTEND}:$FRONTEND_TAG" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform init
        working-directory: terraform-ecs-image-update
        run: terraform init

      - name: Terraform plan
        working-directory: terraform-ecs-image-update
        env:
          TF_VAR_backend_image: ${{ env.BACKEND_IMAGE }}
          TF_VAR_frontend_image: ${{ env.FRONTEND_IMAGE }}
        run: terraform plan

      - name: Terraform apply
        working-directory: terraform-ecs-image-update
        env:
          TF_VAR_backend_image: ${{ env.BACKEND_IMAGE }}
          TF_VAR_frontend_image: ${{ env.FRONTEND_IMAGE }}
        run: terraform apply -auto-approve
