name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy'
        required: true
        default: 'dev'
      working_directory:
        description: 'Working Directory (e.g., terraform-infrastructure)'
        required: true
        default: 'terraform-infrastructure'

jobs:
  terraform-destroy:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          chmod +rwx ./.github/scripts/set_env_vars.sh
          ./.github/scripts/set_env_vars.sh ${{ inputs.environment }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ${{ inputs.working_directory }}
        run: |
          if [ "${{ inputs.working_directory }}" == "terraform-infrastructure" ]; then
            KEY="${TF_BACKEND_DEPLOY_INFRA_KEY}"
            TABLE="${TF_DYNAMODB_DEPLOY_INFRA_TABLE}"
          else
            KEY="${TF_BACKEND_DEPLOY_APP_KEY}"
            TABLE="${TF_DYNAMODB_DEPLOY_APP_TABLE}"
          fi

          terraform init \
            -backend-config="bucket=${TF_BACKEND_BUCKET}" \
            -backend-config="key=${KEY}" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="dynamodb_table=${TABLE}"

      - name: Terraform Destroy
        working-directory: ${{ inputs.working_directory }}
        run: |
          terraform destroy -lock=false -auto-approve \
            -var="region=${AWS_REGION}" \
            -var="environment=${{ inputs.environment }}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="backend_service_name=${ECS_SERVICE_BACKEND_NAME}" \
            -var="frontend_service_name=${ECS_SERVICE_FRONTEND_NAME}" \
            -var="backend_ecr_repo_name=${ECR_REPO_BACKEND_NAME}" \
            -var="frontend_ecr_repo_name=${ECR_REPO_FRONTEND_NAME}" \
            -var="ecs_cluster_name=${ECS_CLUSTER_NAME}"
