name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to destroy'
        required: true
        default: 'dev'
      working_directory:
        description: 'Working Directory (e.g., terraform-infrastructure)'
        required: true
        default: 'terraform-infrastructure'

jobs:
  terraform-destroy:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: ${{ inputs.working_directory }}
        run: |
          terraform init \
            -backend-config="bucket=${TF_BACKEND_BUCKET}" \
            -backend-config="key=${TF_BACKEND_KEY}" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="dynamodb_table=${TF_DYNAMODB_TABLE}"

      - name: Terraform Destroy
        working-directory: ${{ inputs.working_directory }}
        run: |
          terraform destroy -lock=false -auto-approve \
            -var="region=${AWS_REGION}" \
            -var="environment=${{ inputs.environment }}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="backend_service_name=${ECS_SERVICE_BACKEND_NAME}" \
            -var="frontend_service_name=${ECS_SERVICE_FRONTEND_NAME}" \
            -var="backend_ecr_repo_name=${ECR_REPO_BACKEND_NAME}" \
            -var="frontend_ecr_repo_name=${ECR_REPO_FRONTEND_NAME}" \
            -var="ecs_cluster_name=${ECS_CLUSTER_NAME}"
            